body {
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-weight: 300; 
	color: #555;
	margin: 0;
	padding: 0;
}

#page {
	width:100%;
  max-width:1200px; 
  margin: 0 auto; 
  position:relative;
}

/*   __Header__   */
header {z-index: 2; margin: 0; position:fixed;}
header img { width: 80px; margin: 5px 20px -10px 20px; display:inline;}
header h1, header h1 a, header h1 a:visited{text-decoration:none; display:inline; position: relative; top: 0px; color:#fff;}

/*   __Main__   */
main img {width: 100%;}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

/*commissions*/
.infotxt {
	float:left;
	width:40%;
	margin:0 5% ;
}
.ex {
	width:35%;
	margin:0 5%;
	float:right;
	right:0;
	top:0;
}
.ex img {
	width:70%;
	margin:0 15%;
	transition:width 1s, margin 1s;
}

@media screen and (min-width:695px){
	.ex img.imgex:hover {
		z-index:1;
		width:130%;
		top:68px;
		margin:0 -15%;
	}
}
section.commission {
	border:1px solid #777;
	margin:5%;
	padding:10px; 
	position:relative;
}
section.commission {
	content:'';
	clear:both;
	display:table;
}
section.commission h2 {
	text-align:center;
}
div.comlink {
	position:absolute;
	display:block;
	top:-120px;
}

/*About us*/
	/*section staff*/
	.stafftxt {
		padding:2.3%;
		margin:2.5%;
		width:40%;
		border:2px solid #777;
		height:500px;
	}
	.stafftxt {float:left;}
	img.avatar {
		width:80px;
		border-radius:50%;
	}
	.staffinfo div span {position:relative;}
	.staffinfo div h2 {
		display:inline;
		position:absolute;
		bottom:40%;
		left:100%;
	}
	.staffinfo {clear:both;}



/*   ___blockqoute___   */
.block {
	overflow:hidden;
	padding-top:15px;
	z-index:0;
	width:23%;
	height:40px;
	color:#444;
	background-color: #fff;
	position:absolute;
	bottom:30px;
	right:4%;
	transition:height 1.5s;
	text-align:center;
}
.block:hover {
	height:50%;
}
.block h2 {
	display:block;
	text-decoration:none;
}	  
.block img {
	width:60%;
	display:block;
	transition:width 4s;
	margin:auto;
	margin-top:10px;
}


/*   ___footer___   */
footer {height:30px; background-color:white; position:relative;}



/*   __nav__    */
nav {
	background-color: rgba(0,0,0,.65); 
	 position: fixed;
	 top: 0px; left: 0;
	 padding: 30px 0 0 35%;
	 width: 65%;
	 text-align: center;
	z-index:1;
 }
nav::after {content:''; display: both;}

nav a[aria-haspopup="true"]::after {
	content:'';
	display:block;
	width:0px;
	height:0px;
	position:absolute;
	top:16px; right:15px;
	border-top: 4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px solid white;
}

nav > ul > li > a[aria-haspopup="true"]::after {
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid white;
	left: 20px; right:auto;
	bottom: 6px; top: auto;
}

nav ul { list-style: none; margin: 0; padding: 0; }
 
nav ul li a {
	font-size: 1.1em;
	display:inline-block;
	color: #fff;
	padding: 20px;
	text-decoration: none;
	width: 120px;
	position: relative;
} 


nav ul ul { position: absolute; top: 100%; display: none; background-color: rgba(49,33,53,.80);}
nav ul li:hover { background-color: rgba(92,13,116,.75);}
nav ul li:hover > ul {display: block;} 
@media screen and (min-width:695px) {nav > ul > li {float:left;}}
nav ul ul li { position: relative; }
nav ul ul ul { left: 100%; top: 0px; }


@media screen and (max-width:1000px) {
	/*header*/
	h1 { font-size:1.4em; }
	header img {width:60px;}
	
	/*commission*/
		/*section*/
		section.commission img {
			width:100%;
			margin:0;
		}

	/*nav*/
	nav { padding-top:10px; }
	nav ul li a {
		width:90px;
		font-size:1em;
	}
	
}

@media screen and (max-width:825px) {
	h2 {font-size:1.4em;}
	h3 {font-size:1.2em;}
	/*header*/
	header img {width:55px;}
	
	/*nav*/
	nav { padding-top:10px; }
	nav ul li a {
		width:70px;
		font-size:.8em;
	}
}

@media screen and (max-width:695px) {
	/*Header*/
	header { width:100%; background-color:rgba(0,0,0,.65);} 
	header img {display:none;}
	header h1, header h1 a,header h1 a:visited {display:block; position: relative; top: 0px; color:#fff; text-align:center;}

	/*Commitions*/
		/*section*/
		.ex {
			position:relative;
			width:auto;
		}
		.ex img {float:none; width:70%; margin:0 15%;}
		section.commission {
			height:auto;
		}
		#headsec {
			height:auto;
		}
		section.commission .infotxt {
			width:auto;
		}




	/*nav*/
	nav { position: static; width:auto; padding:20px 15px; background-color: rgba(49,33,53,1); }
	
	nav ul,
	nav ul ul,
	nav ul ul ul {
		display:block;
		position:static;
	}
	
	nav > ul { padding:0;}
	
	nav > ul > li { float:none; margin-top:25px;}
	
	nav ul li:hover {background:none;}
	nav ul li a {
		width:auto;
		display:block;
		margin:8px 10px;
		padding:8px 16px;
		border:1px solid rgba(255,255,255,.25);
	}
	nav ul li a:hover { background-color: rgba(92,13,116,.25);}
	
	nav ul ul { background:none;}
	
	nav ul ul li a {margin-left:30px;}
	nav ul ul ul li a {margin-left:60px;}
	
	nav a[aria-haspopup="true"]::after {display:none;}
	
	footer {display:none;}
	
	
	
}











