body {
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-weight: 300; 
	color: #555;
	margin: 0;
	padding: 0;
}

#page {
	width:100%;
  max-width:1200px; 
  margin: 0 auto; 
  position:relative;
}

/*   __Header__   */
header {z-index: 2; margin: 0; position:fixed;}
header img { width: 80px; margin: 5px 20px -10px 20px; display:inline;}
header h1 {display:inline; position: relative; top: 0px; color:#fff;}

/*   __Main__   */
main img {width: 100%;}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

/*commissions*/
.infotxt {
	width:40%;
	margin:5px 5%;
}
.ex {
	width:40%;
	margin:0 5%;
	position:absolute;
	right:0;
	top:0;
}
.ex img {
	float:left;
	width:50%;
	margin:0;
}
@media screen and (min-width:1000px){
	.ex img.imgex:hover {
		z-index:1;
		width:100%;
		top:68px;
		position:absolute;
	}
}
section.commission {
	border:1px solid #777;
	margin:5%;
	position:relative;
}
section.commission h2 {
	text-align:center;
}
section.commission > span {
	position:absolute;
	top:-120px;
}


/*   ___blockqoute___   */
.block {
	overflow:hidden;
	padding-top:15px;
	z-index:0;
	width:23%;
	height:40px;
	color:#444;
	background-color: #fff;
	position:absolute;
	bottom:30px;
	right:4%;
	transition:height 1.5s;
	text-align:center;
}
.block:hover {
	height:50%;
}
.block h2 {
	display:inline;
	text-decoration:none;
}	  
.block img {
	width:60%;
	display:block;
	transition:width 4s;
	margin:auto;
	margin-top:10px;
}


/*   ___footer___   */
footer {height:30px; background-color:white; position:relative;}



/*   __nav__    */
nav {
	background-color: rgba(0,0,0,.65); 
	 position: fixed;
	 top: 0px; left: 0;
	 padding: 30px 0 0 35%;
	 width: 65%;
	 text-align: center;
	z-index:1;
 }
nav::after {content:''; display: both;}

nav a[aria-haspopup="true"]::after {
	content:'';
	display:block;
	width:0px;
	height:0px;
	position:absolute;
	top:16px; right:15px;
	border-top: 4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px solid white;
}

nav > ul > li > a[aria-haspopup="true"]::after {
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid white;
	left: 20px; right:auto;
	bottom: 6px; top: auto;
}

nav ul { list-style: none; margin: 0; padding: 0; }
 
nav ul li a {
	font-size: 1.1em;
	display:inline-block;
	color: #fff;
	padding: 20px;
	text-decoration: none;
	width: 120px;
	position: relative;
} 


nav ul ul { position: absolute; top: 100%; background-color: rgba(49,33,53,.80); display: none;}
nav ul li:hover { background-color: rgba(92,13,116,.75);}
nav ul li:hover > ul {display: block;} 
nav > ul > li {float:left;}
nav ul ul li { position: relative; }
nav ul ul ul { left: 100%; top: 0px; }


@media screen and (max-width:1000px) {
	/*header*/
	h1 { font-size:1.4em; }
	header img {width:60px;}
	
	/*commission*/
		/*section*/
		section.commission {
			height:900px;
		}
		#headsec {
			height:800px;
		}
		/*example*/
		.ex img {width:100%;}

	/*nav*/
	nav { padding-top:10px; }
	nav ul li a {
		width:90px;
		font-size:1em;
	}
	
}

@media screen and (max-width:825px) {
	h2 {font-size:1.4em;}
	h3 {font-size:1.2em;}
	/*nav*/
	nav { padding-top:10px; }
	nav ul li a {
		width:70px;
		font-size:.8em;
	}
}











